<!-- Footer start -->
<footer class="page-footer section-py pb-0 bg-light">
    <div class="container">
        <div class="row g-4 pb-5 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <img class="img-fluid" src="assets/images/syntroBlack.png" width="120" id="dark-logo-footer" alt="dark-logo1">
                <p class="mt-3">we are passionate about creating exceptional interior spaces that inspire, delight, and enhance the lives of our clients.
                </p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div>
                    <h5 class="mb-3">Company</h5>
                    <ul class="list-unstyled">
                        <li><a href="#chooseuo1" class="text-decoration-none  mb-3 d-block">About Us</a></li>
                        <li><a href="#team" class="text-decoration-none  mb-3 d-block">Our team</a></li>
                        <li><a href="#services" class="text-decoration-none  mb-3 d-block">Our Services</a></li>
                        <li><a href="#portfolio" class="text-decoration-none  mb-3 d-block">Work Project</a></li>
                        <li><a href="#mission" class="text-decoration-none  d-block">Help</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-sm-6">
                <div>
                    <h5 class="mb-3">Useful Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none  mb-3 d-block">Why Choose</a></li>
                        <li><a href="#" class="text-decoration-none  mb-3 d-block">Work Process</a></li>
                        <li><a href="#" class="text-decoration-none  mb-3 d-block">FAQ’s</a></li>
                        <li><a href="#" class="text-decoration-none   d-block">Support</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-3 col-sm-6" id="ContactUs">
                <div>
                    <h5 class="mb-3">Contact</h5>
                    <!-- <div class="d-flex mb-4 align-items-center">
                        <i class="fa-solid fa-phone  fs-5"></i>
                        <div class="ms-3">
                            <a href="tel:+389 78593050" class="text-decoration-none d-block">+389 78593050</a>
                            <span>Call us for support</span>
                        </div> -->
                    </div>
                    <div class="d-flex mb-4 align-items-center">
                        <i class="fa-solid fa-envelope  fs-5"></i>
                        <div class="ms-3">
                            <a href="aleksandar@syntronix.dev" class="text-decoration-none  d-block">aleksandar@syntronix.dev</a>
                        </div>
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <i class="fa-solid fa-location-dot  fs-5"></i>
                        <div class="ms-3">
                            <a href="#" class="text-decoration-none  d-block">Boris Trajkovski 1/2-75
                                Skopje 1000, North Macedonia</a>
                            <span>Skopje, North Macedonia</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="low-footer border-top py-4 text-center">
        <div class="container">
            <p><script>document.write(new Date().getFullYear())</script> © Syntronix</p>
        </div>
    </div>
</footer>
<!-- Footer end -->