<!-- Header start -->
<header class="page-header">
    <nav class="navbar fixed-top navbar-expand-lg py-3" data-bs-theme="light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="img-fluid" src="assets/images/syntro.png" width="120"  id="light-logo"  alt="light-logo">
            </a>
            <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"> <i class="fa-solid fa-bars fs-5 text-white"></i> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active fw-semibold" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="#Portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="#team">Team</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link fw-semibold" href="#Pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" href="#Blog">Blog</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link fw-semibold me-0" href="#ContactUs">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Header end -->