<!-- About start -->
<section class="section-py about bg-light pb-0" id="about">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-lg-6">
                <img src="assets/images/about02.jpg" class="img-fluid rounded-2" alt="aboutimg">
            </div>
            <div class="col-lg-6 ps-lg-5">
                <h2>Simply Know <span class="text-primary">About</span></h2>
                <p class="mb-0">We successfully cope with tasks of varying complexityprovide longerty term guarantees and regularly master new Practice Area technol ogiesOur portfolio includes dozen</p>
                <div class="d-flex flex-wrap gap-5 align-items-center mt-5">
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-pen-nib text-primary fs-4"></i>
                        <div class="ms-4">
                            <h5>Web Design</h5>
                            <p class="m-0">A creative web designer</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-code text-primary fs-4"></i>
                        <div class="ms-4">
                            <h5>Development</h5>
                            <p class="m-0">A creative web Developer</p>
                        </div>
                    </div>
                    <!-- <div class="d-flex align-items-center w-100">
                        <div>
                            <img src="https://placehold.co/100x100/jpg" class="img-fluid rounded-circle w-25" alt="Martinaze">
                            <span class="ms-2">Martinaze , CEO</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About end -->