<!-- Chooseus start -->
<section class="section-py bg-light choose" id="chooseuo1">
    <div class="container">
        <div class="row gy-4 justify-content-center align-items-center">
            <div class="col-lg-6 order-lg-1 order-2 pe-lg-4">
                <h2>Why <span class="text-primary">Choose Us</span></h2>
                <p>Choose Us for innovative solutions and unmatched dedication. Our team delivers exceptional quality and personalized service.</p>
                <div class="row g-4 mt-5">
                    <div class="col-sm-6">
                        <div class="choose-box h-100 rounded-2 p-4">
                            <h5><i class="fa-regular fa-circle-check"></i> Perfect Design</h5>
                            <small>Perfect Design offers cutting edge creativity company</small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="choose-box h-100 rounded-2 p-4">
                            <h5><i class="fa-regular fa-circle-check"></i> Retina Ready</h5>
                            <small>Optimized for high-resolution displays to ensure crisp.</small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="choose-box h-100 rounded-2 p-4">
                            <h5><i class="fa-regular fa-circle-check"></i> Friendly Support</h5>
                            <small>We're here to help with a smile and provide assistance</small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="choose-box h-100 rounded-2 p-4">
                            <h5><i class="fa-regular fa-circle-check"></i> Performance</h5>
                            <small> increasing client engagement by 30% and driving a 25%</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-lg-end order-lg-2 order-1 text-center">
                 <div class="row align-items-center g-4">
                    <div class="col-6">
                        <img class="rounded-2 img-fluid" src="assets/images/aboutus.avif" alt="Chooseus img" >
                    </div>
                    <div class="col-6">
                        <div class="row g-4">
                            <div class="col-12">
                                <img class="rounded-2 img-fluid" src="assets/images/ideas.jpg" alt="Chooseus img">
                            </div>
                            <div class="col-12">
                                <img class="rounded-2 img-fluid" src="assets/images/team.jpeg" alt="Chooseus img">
                            </div>
                        </div>
                    </div>
                 </div>
            </div> 
        </div>
    </div>
</section>
<!-- Chooseus end -->