<!-- Contact start -->
<section class="section-py contact" id="ContactUs">
    <div class="container">
        <div class="row g-4 justify-content-between align-items-center">
            <div class="col-lg-5">
                <img src="assets/images/table_headphones_600x400.jpg" class="img-fluid rounded-2" alt="contactbg" style="width: 600px ; height: 350px;">
            </div>
            <div class="col-lg-7 ps-lg-5">
                <div>
                    <h2 class="text-primary mb-5">Talk to us</h2>
                    <form class="needs-validation" novalidate>
                        <div class="row lables">
                            <div class="col-md-6 mt-4 form-floating">
                                <input type="text" class="form-control" placeholder="Name *" required>
                                <div class="valid-feedback text-primary">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    enter name
                                </div>
                                <label class="fs-6 fw-semibold">Name <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-md-6 mt-4 form-floating">
                                <input type="email" class="form-control" placeholder="Email *" required>
                                <div class="valid-feedback text-primary">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    enter email
                                </div>
                                <label class="fs-6 fw-semibold">Email <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-md-6 mt-4 form-floating">
                                <input type="number" class="form-control" placeholder="Phone no *" required>
                                <div class="valid-feedback text-primary">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    enter phone no
                                </div>
                                <label class="fs-6 fw-semibold">Phone no <span class="text-danger">*</span></label>
                            </div>
                            <div class="col-md-6 mt-4 form-floating">
                                <input type="text" class="form-control" placeholder="Subject *" required>
                                <div class="valid-feedback text-primary">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    enter subject
                                </div>
                                <label class="fs-6 fw-semibold">Subject <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control texta mt-4" style="height: 110px;"
                                placeholder="enter comment" required></textarea>
                            <label class="fs-6 fw-semibold textlebal">Comments </label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact end -->