<!-- Features start -->
<section class="section-py features">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-6 col-auto">
                <h2>Our <span class="text-primary">Features</span></h2>
                <p>Discover the key elements that set our projects apart. From innovative design to seamless functionality, explore how our features deliver</p>
            </div>
        </div>
        <div class="row g-4 justify-content-center mt-5">
            <div class="col-xl-4 col-md-6">
                <div class="features-box p-4">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-14 w-14 text-default-950" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"></path>
                        <path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"></path>
                        <path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"></path>
                        <path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"></path>
                    </svg>
                    <h4 class="mt-4">Developer</h4>
                    <p>A skilled developer with expertise in crafting innovative solutions and building robust applications. Proficient in a range of programming</p>
                    <!-- <a href="#" class="text-decoration-none">Read More <i class="fa-solid fa-arrow-right-long ms-2"></i></a> -->
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="features-box p-4">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-14 w-14 text-default-950" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="20" height="14" x="2" y="3" rx="2"></rect>
                        <line x1="8" x2="16" y1="21" y2="21"></line>
                        <line x1="12" x2="12" y1="17" y2="21"></line>
                    </svg>
                    <h4 class="mt-4">Web Design</h4>
                    <p>A creative web designer specializing in creating visually stunning and user-friendly websites.
                        Expertise in design principles, responsive layouts</p>
                    <!-- <a href="#" class="text-decoration-none">Read More <i class="fa-solid fa-arrow-right-long ms-2"></i></a> -->
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="features-box p-4">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-14 w-14 text-default-950" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                    <h4 class="mt-4">Digital Product Design</h4>
                    <p>A strategic digital product designer with a focus on creating intuitive and impactful user
                        experiences. Skilled in UX/UI design</p>
                    <!-- <a href="#" class="text-decoration-none">Read More <i class="fa-solid fa-arrow-right-long ms-2"></i></a> -->
                </div>
            </div>
            <!-- <div class="col-xl-4 col-md-6">
                <div class="features-box p-4">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-14 w-14 text-default-950" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="7" height="7" x="3" y="3" rx="1"></rect>
                        <rect width="7" height="7" x="14" y="3" rx="1"></rect>
                        <rect width="7" height="7" x="14" y="14" rx="1"></rect>
                        <rect width="7" height="7" x="3" y="14" rx="1"></rect>
                    </svg>
                    <h4 class="mt-4">Branding & Design</h4>
                    <p>An expert in branding and design, adept at crafting compelling visual identities and cohesive
                        brand experiences Specializes in logo creation</p>
                    <a href="#" class="text-decoration-none">Read More <i class="fa-solid fa-arrow-right-long ms-2"></i></a>
                </div>
            </div> -->
            <div class="col-xl-4 col-md-6">
                <div class="features-box p-4">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-14 w-14 text-default-950" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"></path>
                        <path d="M12 2h4.5a3.5 3.5 0 1 1 0 7H12V2z"></path>
                        <path d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path>
                        <path d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"></path>
                        <path d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"></path>
                    </svg>
                    <h4 class="mt-4">Mobile App Development</h4>
                    <p>
                        We develop high-performance iOS and Android apps, delivering intuitive 
                        designs and seamless functionality to enhance your business in the digital era.</p>
                    <!-- <a href="#" class="text-decoration-none">Read More <i class="fa-solid fa-arrow-right-long ms-2"></i></a> -->
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="features-box p-4">
                    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" class="h-14 w-14 text-default-950" height="1em" width="1em"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.37 2.63 14 7l-1.59-1.59a2 2 0 0 0-2.82 0L8 7l9 9 1.59-1.59a2 2 0 0 0 0-2.82L17 10l4.37-4.37a2.12 2.12 0 1 0-3-3Z">
                        </path>
                        <path d="M9 8c-2 3-4 3.5-7 4l8 10c2-1 6-5 6-7"></path>
                        <path d="M14.5 17.5 4.5 15"></path>
                    </svg>
                    <h4 class="mt-4">Graphic Design</h4>
                    <p>A versatile graphic designer specializing in creating visually compelling graphics and visual communications Proficient in various design</p>
                    <!-- <a href="#" class="text-decoration-none ">Read More <i class="fa-solid fa-arrow-right-long ms-2"></i></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features end -->