<!-- Hero start -->
<section id="home"
    class="hero-sec minvh50 position-relative z-1 section-py d-flex align-items-center justify-content-center bg-img"
    data-background="https://placehold.co/1920x1080/jpg">
    <div class="container">
        <div class="row gy-5 h-100  align-items-center justify-content-between">
            <div class="col-lg-6">
                <h1 class="text-white">We help startups launch their products</h1>
                <p class="text-white"> We specialize in guiding startups through the product launch process, offering
                    expertise and support to turn innovative ideas into successful products. </p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#videoModal">
                    <i class="fa-regular fa-circle-play display-5 text-primary"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <form class="form-box rounded-2 p-5 bg-light needs-validation" novalidate>
                    <h5 class="text-center mb-3">Get 30 day FREE Trial</h5>
                    <div class="mb-3 form-floating">
                        <input type="text" class="form-control" placeholder="Name" required>
                        <div class="valid-feedback text-primary">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            enter name
                          </div>
                        <label class="fs-6 fw-semibold">Name <span class="text-danger">*</span></label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input type="email" class="form-control" placeholder="Email" required>
                        <div class="valid-feedback text-primary">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            enter enail
                          </div>
                        <label class="fs-6 fw-semibold">Email <span class="text-danger">*</span></label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Comments" style="height: 100px"
                            required></textarea>
                            <div class="valid-feedback text-primary">
                                Looks good!
                              </div>
                            <div class="invalid-feedback">
                                enter comment
                              </div>
                        <label class="fs-6 fw-semibold">Comments</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Free Trial</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Hero end -->

<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="ratio ratio-16x9">
                    <iframe src="https://player.vimeo.com/video/99025203?autoplay=1" title="Video Modal" allowfullscreen></iframe>
                  </div>
            </div>
        </div>
    </div>
</div>