<!-- Hero start -->
<section id="home"
    class="hero-sec minvh50 position-relative pb-0 z-1 section-py d-flex align-items-center justify-content-center bg-img"
    data-background="https://placehold.co/1920x1024">
    <div class="container">
        <div class="row h-100 justify-content-center text-center align-items-center">
            <div class="col-lg-8 col-auto">
                <h1 class="text-white">We help startups launch their products</h1>
                <p class="text-white"> We specialize in guiding startups through the product launch process, offering expertise and support to turn innovative ideas into successful products.
                </p>
                <div>
                    <img src="https://placehold.co/1920x800" class="img-fluid rounded-top-2" alt="product">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero end -->

