<!-- Misson start -->
<section class="section-py misson bg-light">
    <div class="container">
        <div class="row text-center justify-content-center align-items-center">
            <div class="mb-5 col-auto">
                <h2>Our <span class="text-primary">Mission</span></h2>
                <p>Our Commitment to Your Success</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-lg-6 order-lg-1 order-2 mt-lg-0 mt-5 pe-lg-5">
                <p>We’re full service which means we’ve got you covered on design and content right through to digital. You’ll form a lasting relationship with us, collaboration is central to everything we do. We’ll push you out of your comfort zone from time, but this is where you’ll shine. Bottom line is we want you to succeed at Faculty.</p>
                <p>You’ll form a lasting relationship with us, collaboration is central to everything we do. We’ll push you out of your comfort zone from time-to-time, but this is where you’ll shine. Bottom line is we want you to succeed at Faculty. You’ll form a lasting relationship with us, collaboration is central to everything we do. We’ll push you out of your comfort zone from time-to-time, but this is where you’ll shine. Bottom line is we want you to succeed at Faculty.</p>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
                <img class="img-fluid rounded-2" src="https://placehold.co/700x500" alt="Our Mission img">
            </div>
        </div>
    </div>
</section>
<!-- Misson end -->