<!-- Portfolio start -->
<section class="section-py portfolio" id="Portfolio">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
                <h2>Our <span class="text-primary">portfolio</span></h2>
                <p>Branding and web design</p>
            </div>
        </div>
        <div class="row g-4 justify-content-center mt-5">
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card rounded-2">
                    <div class="portfolio-inner overflow-hidden position-relative rounded-2">
                        <a href="#"><img src="https://placehold.co/800x800/jpg" class="img-fluid w-100 object-fit-cover rounded-2" alt="portfolio1-img"></a>
                        <div class="portfolio-details position-absolute rounded-2 d-flex justify-content-center text-center align-items-center">
                            <h5 class="text-primary">Visionary Portfolio</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-inner overflow-hidden position-relative rounded-2">
                        <a href="#"><img src="https://placehold.co/800x800/jpg" class="img-fluid w-100 object-fit-cover rounded-2" alt="portfolio2-img"></a>
                        <div class="portfolio-details position-absolute rounded-2 d-flex justify-content-center text-center align-items-center">
                            <h5 class="text-primary">Contemporary Design</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-inner overflow-hidden position-relative rounded-2">
                        <a href="#"><img src="https://placehold.co/800x800/jpg" class="img-fluid w-100 object-fit-cover rounded-2" alt="portfolio3-img"></a>
                        <div class="portfolio-details position-absolute rounded-2 d-flex justify-content-center text-center align-items-center">
                            <h5 class="text-primary">Creative Showcase</h5>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-inner overflow-hidden position-relative rounded-2">
                        <a href="#"><img src="https://placehold.co/800x800/jpg" class="img-fluid w-100 object-fit-cover rounded-2" alt="portfolio4-img"></a>
                        <div class="portfolio-details position-absolute rounded-2 d-flex justify-content-center text-center align-items-center">
                            <h5 class="text-primary">Creative Gallery</h5>
                        </div>        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="portfolio-card">
                    <div class="portfolio-inner overflow-hidden position-relative rounded-2">
                        <a href="#"><img src="https://placehold.co/800x800/jpg" class="img-fluid w-100 object-fit-cover rounded-2" alt="portfolio5-img"></a>
                        <div class="portfolio-details position-absolute rounded-2 d-flex justify-content-center text-center align-items-center">
                            <h5 class="text-primary">Dynamic Design</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio end -->