<!-- Process start -->
<section class="section-py process">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-6 col-auto">
                <h2>Our <span class="text-primary">Process</span></h2>
                <p>Explore the structured approach we take to turn ideas into impactful results. Our process is designed to ensure clarity, collaboration.</p>
            </div>
        </div>
        <div class="row process-line position-relative mt-5  row-cols-xxl-4 row-cols-md-2">
            <div class="pt-5">
                <div class="process-box position-relative rounded-2">
                    <div class="inner position-absolute h-100 top-0 start-0  d-flex flex-column justify-content-center">
                        <span>01</span>
                        <h5 class="mb-4"> Ideas </h5>
                        <small>We foster an environment where creativity thrives, Our team employs
                            brainstorming.</small>
                    </div>
                    <div class="process-bg">
                        <img src="assets/images/chair.jpg" class="img-fluid rounded-2 w-100" alt="Ideas" style="width: 300px ; height: 400px;">
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="process-box position-relative rounded-2">
                    <div
                        class="inner h-100 two position-absolute top-0 start-0  d-flex flex-column justify-content-center">
                        <span>02</span>
                        <h5 class="mb-4"> Planning </h5>
                        <small>Our planning process includes a thorough analysis of your current situation.</small>
                    </div>
                    <div class="process-bg ">
                        <img src="assets/images/book.jpg" class="img-fluid rounded-2 w-100" alt="Planning" style="width: 300px ; height: 400px;">
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="process-box position-relative">
                    <div
                        class="inner three h-100 two position-absolute top-0 start-0  d-flex flex-column justify-content-center">
                        <span>03</span>
                        <h5 class="mb-4"> Development </h5>
                        <small>We tailor our development efforts to address your unique requirements.</small>
                    </div>
                    <div class="process-bg">
                        <img src="assets/images/letters.jpg" class="img-fluid rounded-2 w-100" alt="Development" style="width: 300px ; height: 400px;">
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="process-box position-relative">
                    <div
                        class="inner four h-100 two position-absolute top-0 start-0  d-flex flex-column justify-content-center">
                        <span>04</span>
                        <h5 class="mb-4"> Testing </h5>
                        <small>Learn essential strategies and tools to fortify your business against evolving cyber
                            threats.</small>
                    </div>
                    <div class="process-bg">
                        <img src="assets/images/manager_300x400.jpg" class="img-fluid rounded-2 w-100" alt="Testing" style="width: 300px ; height: 400px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process end -->