<!-- Team start -->
<section class="section-py team bg-light" id="team">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-6 col-auto">
                <h2>Our <span class="text-primary">Team</span></h2>
                <p>Our power of choice is untrammelled and when nothing preven tsbeing able to do what we like best every pleasure.</p>
            </div>
        </div>
        <div class="row g-4 mt-5">
            <div class="col-lg-3 col-sm-6">
                <div class="rounded-2 team-card overflow-hidden border position-relative">
                    <div class="team-img overflow-hidden">
                        <img src="https://placehold.co/500x500" class="img-fluid rounded-2" alt="Jone Cooper img">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-1">Jone Cooper</h5>
                        <span>Finance Advisor</span>
                    </div>
                    <div class="position-absolute team-icons d-flex flex-column justify-content-center align-items-center rounded-2 p-2 top-0 bg-primary">
                        <a href="#"><i class="fa-brands text-white fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="rounded-2 team-card border position-relative overflow-hidden">
                    <div class="team-img overflow-hidden">
                        <img src="https://placehold.co/500x500" class="img-fluid rounded-2" alt="Eleanor Pena img">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-1">Eleanor Pena</h5>
                        <span>Digital Marketing</span>
                    </div>
                    <div class="position-absolute team-icons d-flex flex-column justify-content-center align-items-center rounded-2 p-2 top-0 bg-primary">
                        <a href="#"><i class="fa-brands text-white fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="rounded-2 team-card border position-relative overflow-hidden">
                    <div class="team-img overflow-hidden">
                        <img src="https://placehold.co/500x500" class="img-fluid rounded-2" alt="Floyd Miles img">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-1">Floyd Miles</h5>
                        <span>UI/UX Design</span>
                    </div>
                    <div class="position-absolute team-icons d-flex flex-column justify-content-center align-items-center rounded-2 p-2 top-0 bg-primary">
                        <a href="#"><i class="fa-brands text-white fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="rounded-2 team-card border position-relative overflow-hidden">
                    <div class="team-img overflow-hidden">
                        <img src="https://placehold.co/500x500" class="img-fluid rounded-2" alt="Ralph Edwar img">
                    </div>
                    <div class="p-4">
                        <h5 class="mb-1">Ralph Edwar</h5>
                        <span>Graphic Design</span>
                    </div>
                    <div class="position-absolute team-icons d-flex flex-column justify-content-center align-items-center rounded-2 p-2 top-0 bg-primary">
                        <a href="#"><i class="fa-brands text-white fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands text-white fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team start -->