<!-- Testimonial start -->
<section class="section-py pb-0 testimonials">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-lg-6 col-auto">
                <h2 class="text-primary">Testimonials</h2>
                <p>What our customer’s say about our company</p>
            </div>
        </div>
        <div class="row mt-5 g-4 justify-content-center">
            <div class="col-lg-4">
                <div class=" testimonials-card rounded-2 p-3">
                    <div class="dash rounded-2 p-3">
                        <img src="https://placehold.co/135x35" class="mb-4" alt="darkicon1">
                        <blockquote>“Until recently, the prevailing view assumed lorem ipsum was born as a nonsense
                            text. It's not Latin though it looks like it, and it actually says nothing.”</blockquote>
                        <div>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-regular fa-star text-warning"></i>
                        </div>
                        <div class="d-flex align-items-center testimonials-name mt-4">
                            <img src="https://placehold.co/100x100/jpg" class="img-fluid rounded-circle" alt="Robert Frost img">
                            <div class="ms-3">
                                <h5 class="m-0 ">Robert Frost</h5>
                                <span>Lead Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class=" testimonials-card rounded-2 p-3">
                    <div class="dash rounded-2 p-3">
                        <img src="https://placehold.co/135x35" class="mb-4" alt="darkicon2">
                        <blockquote>“Until recently, the prevailing view assumed lorem ipsum was born as a nonsense
                            text. It's not Latin though it looks like it, and it actually says nothing.”</blockquote>
                        <div>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-regular fa-star text-warning"></i>
                        </div>
                        <div class="d-flex align-items-center testimonials-name mt-4">
                            <img src="https://placehold.co/100x100/jpg" class="img-fluid rounded-circle" alt="Sarah jon img">
                            <div class="ms-3">
                                <h5 class="m-0 ">Sarah jon</h5>
                                <span>Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class=" testimonials-card rounded-2 p-3">
                    <div class="dash rounded-2 p-3">
                        <img src="https://placehold.co/135x35" class="mb-4" alt="darkicon3">
                        <blockquote>“Until recently, the prevailing view assumed lorem ipsum was born as a nonsense
                            text. It's not Latin though it looks like it, and it actually says nothing.”</blockquote>
                        <div>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-regular fa-star text-warning"></i>
                        </div>
                        <div class="d-flex align-items-center testimonials-name mt-4 mb-1">
                            <img src="https://placehold.co/100x100/jpg" class="img-fluid rounded-circle" alt="Melina sen img">
                            <div class="ms-3">
                                <h5 class="m-0 ">Melina sen</h5>
                                <span>Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class=" testimonials-card rounded-2 p-3">
                    <div class="dash rounded-2 p-3">
                        <img src="https://placehold.co/135x35" class="mb-4" alt="darkicon4">
                        <blockquote>“Until recently, the prevailing view assumed lorem ipsum was born as a nonsense
                            text. It's not Latin though it looks like it, and it actually says nothing.”</blockquote>
                        <div>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-regular fa-star text-warning"></i>
                        </div>
                        <div class="d-flex align-items-center testimonials-name mt-4">
                            <img src="https://placehold.co/100x100/jpg" class="img-fluid rounded-circle" alt="Cody Fisher img">
                            <div class="ms-3">
                                <h5 class="m-0 ">Cody Fisher</h5>
                                <span>UI Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class=" testimonials-card rounded-2 p-3">
                    <div class="dash rounded-2 p-3">
                        <img src="https://placehold.co/135x35" class="mb-4" alt="darkicon5">
                        <blockquote>“Until recently, the prevailing view assumed lorem ipsum was born as a nonsense
                            text. It's not Latin though it looks like it, and it actually says nothing.”</blockquote>
                        <div>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-solid  fa-star text-warning"></i>
                            <i class="fa-regular fa-star text-warning"></i>
                        </div>
                        <div class="d-flex align-items-center testimonials-name mt-4">
                            <img src="https://placehold.co/100x100/jpg" class="img-fluid rounded-circle" alt="Guy Hawkins img">
                            <div class="ms-3">
                                <h5 class="m-0 ">Guy Hawkins</h5>
                                <span>Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial end -->