 <!-- dark and rtl start -->
 <div class="dark-mod position-fixed start-0">
    <!-- <a href="javascript:void(0);" id="theme-toggler" class="dark-box mb-2 text-decoration-none d-flex justify-content-center align-items-center  bg-primary text-white rounded-end-1 ">
        <i class="fa-regular fa-sun fs-5" id="light"></i>
        <i class="fa-regular fa-moon fs-5" id="dark"></i>
    </a>
    <a href="javascript:void(0);" id="toggle-direction" class="text-decoration-none ltr d-flex justify-content-center align-items-center rounded-end-1 p-0 text-white bg-primary">LTR</a> -->
</div>
